@use "base/variables" as v;
@use 'base/mixins' as m;

.acciones {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  &--centrar {
    @extend .acciones;
    justify-content: center;
  }

  &__enlace {
    color: v.$negro;
    font-size: 1.4rem;
    font-weight: v.$delgada;
  }
}
