@use "base/variables" as v;
@use "base/mixins" as m;

.admin {
  @include m.contenedor-md;

  &__barra {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem 0;

    @include m.tablet {
      flex-direction: row;
      justify-content: space-around;
      gap: 0 3rem;
    }
  }

  &__barra-enlace {
    background-color: v.$azul;
    border-radius: 1rem;
    padding: 2rem;
    color: v.$blanco;
    font-size: 2rem;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: v.$rojo;
    }
  }

  &__busqueda {
    margin-top: v.$separacion;
    @include m.contenedor-sm;
  }

  &__lista-citas {
    list-style: none;
    @include m.grid(1, 1rem);

    @include m.tablet {
      @include m.grid(2, 2rem);
    }
  }

  &__lista-cita {
    text-align: center;
    padding: 2rem;
    border: 1px solid v.$azul;
    border-radius: 1rem;
  }

  &__lista-descripcion {
    font-weight: v.$regular;
    color: v.$rojo;

    span {
      font-weight: v.$bold;
      color: v.$azul;
    }
  }

  &__boton-eliminar {
    @include m.boton(v.$rojo, v.$blanco);

    @include m.tablet {
      margin: 0 auto;
    }
  }

  &__servicios {
    @extend .admin__lista-citas;
  }

  &__servicios-servicio {
    @extend .admin__lista-cita;
  }

  &__servicios-descripcion {

    span {
      font-weight: v.$bold;
    }
  }

  &__acciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    @include m.tablet {
      flex-direction: row;
      justify-content: space-around;
      align-items: center
    }
  }

  &__servicios-actualizar {
    @include m.boton(v.$amarillo, v.$blanco);
  }

  &__servicios-eliminar {
    @include m.boton(v.$rojo, v.$blanco);
  }

  &__servicios-actualizar,
  &__servicios-eliminar {
    margin: 0;
    border-radius: 1rem;
  }
}
